@{
    ViewBag.Title = "Home Page";
}

@model Cox.Models.User  

<h2>Hello @Model.FirstName @Model.LastName</h2>

@Html.ActionLink("Learning Assessment","Index", "Category")
<br />
@Html.ActionLink("My Report", "Index", "Report")