
@{
    ViewBag.Title = "PasswordResetSendConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Password reset instruction has been sent to your account email. You have @System.Configuration.ConfigurationManager.AppSettings["PW_Reset_Time"].ToString() minutes to reset your password.</p>

