
@{
    ViewBag.Title = "ResetSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password has been reset successfully!</h2>

<p>Please click @Html.ActionLink("Here","Index","Home") to login.</p>

