
@{
    ViewBag.Title = "ResetSessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This session has expired!</h2>

<p>Please click @Html.ActionLink("Here", "ForgotPassword", "Home") to reset your password.</p>

