
@{
    ViewBag.Title = "ResetSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Password has been reset successfully!</h2>*@
<h5 class="tab">Password has been reset successfully!</h5>
<div class="tab_separation" style="z-index:-1;"></div>

<p>Please click @Html.ActionLink("Here","Index","Home") to login.</p>

